h1 {
  font-family: 'Satisfy', cursive;
  text-align: center;  
  font-size: 100px;
  padding-top: 3% ;
  padding-bottom: 1% ;
}

body{
  background-color: gray;
}
canvas{
  
  border-color:black;
  border-width: 40px;
  border-style: solid;
  border-radius: 20px;
}

